<!DOCTYPE HTML>
<html ng-app="historia">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Historia</title>

<!-- CSS Files -->
<link href="/historia/files/css/historia.css" rel="stylesheet" type="text/css">

<!-- JavaScript Files -->
<script src="/historia/files/js/angular.min.js" language="JavaScript"></script>
<script src="/historia/files/js/historia.js" language="JavaScript"></script>

</head>
<body ng-controller="historiaController as tab">
<div class="container">
  <header>
    <a href="#"><H1>Historia</H1></a>
  </header>
  <historia-content></historia-content>
  <div id="footer" class="small">
    <p>Historia is a Free (as in kittens) program.</p>
  </div>
  <!-- end .container --></div>
</body>
</html>
