<div id="WelcomePage">
  <div id="mainPanel">
    <h1>Welcome to Historia</h1>
      <p>Historia will become an application to support research projects by Historian and other humanities researchers.  It's designed for long term support and to help organize large projects with large number of notes not just large numbers of sources.  Right now, it's not much...</p>
  </div><!-- end #mainPanel -->
  <div id="rightsidebar">
    <p><img src="/historia/files/images/Clio.jpg" title="Clio is watching"></p>
  </div>
</div><!-- end WelcomePage -->